* {
  margin: 0;
  padding: 0;
}

#root {
  
  width: 100vw;
  height: 100vh;
  padding: 0;
}


.App {
  font-family: 'Cinzel', serif;
  font-size: 1em;
  height: 100%;
  
  
}

.content {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  
}

.btn {
  width: 150px;
}

