.App {
  width: 100%;
  
}

.content {
  margin: 0 auto;
  width: 300px;
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.btn {
  width: 150px;
}

